:root {
  --color-primary: #28293e;
  --color-secondary: #ef6d58;
  --color-accent: #ffffff;
  --color-text: #391400;
  --color-light-gray: #b1b2b9;
  --color-white: #fdf0e9;
  --padding-bottom: 2rem;
}

@font-face {
  font-family: Epilogue;
  src: url('/fonts/Epilogue-VariableFont_wght.ttf');
}
html {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

h1,
h2,
h3,
body {
  font-family: Epilogue;
  transition: all 0.3s;
}
h1 {
  font-size: 5.6rem;
  font-weight: bolder;
  line-height: 1.1;
}
h2 {
  font-size: 4rem;
  font-weight: bolder;
  line-height: 1.2;
}
h3 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.3;
}
p,
body {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2;
  color: var(--color-text);
}
@media screen and (min-width: 950px) {
  h1 {
    font-size: 7.2rem;
  }
  h2 {
    font-size: 5.6rem;
  }
}
/* Utilities */
.default {
  background: var(--color-secondary);
}
.grid {
  display: grid;
}
.grid2x1 {
  grid-template-rows: repeat(2, 1fr);
}
.grid1x2 {
  grid-template-columns: repeat(2, 1fr);
}
.gridAuto1fr {
  .grid-test {
    grid-template-rows: auto 1fr;
  }
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.list {
  list-style: none;
}
.list--inline {
  display: flex;
}
.wrapper {
  max-width: 80svw;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 80svw;
  }
}
/* buttons */
.btn {
  display: inline-block;
  padding: 1rem 5rem;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.3s;
  outline: 0;
  border: 0;
  text-align: center;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.btn--contaier {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Text */
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-dark {
  color: var(--color-text);
}

.text-light {
  color: var(--color-accent);
}
.text-red {
  color: var(--color-secondary);
}
.text-light-gray {
  color: var(--color-light-gray);
}
/* Icons */
.icon--container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.icon--container-lg {
  width: 80px;
  height: 80px;
}
.icon--container-sm {
  width: 48px;
  height: 48px;
}
.icon--container-xsm {
  width: 32px;
  height: 32px;
}
.icon--small {
  font-size: 1.5rem;
}
/* Collapsible */
.collapsible--content {
  max-height: 0;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible.open .collapsible--content {
  max-height: 100%;
  opacity: 1;
}
.fa-calendar,
.fa-briefcase {
  color: white;
  font-size: 4rem;
}
.break-line {
  content: '<br>';
}
.background-primary {
  background: var(--color-primary);
}
.background-secondary {
  background: #fdf0e9;
}
.background-secondary-dark {
  background: #f9e5da;
}
.star-container {
  --width-c: 148px;
  --height-c: 148px;
  content: '';
  position: absolute;
  width: var(--width-c);
  height: var(--height-c);
  background: url('/img/star.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(10% - var(--width-c) / 2);
  top: calc(100% + (var(--height-c) / 2) + var(--padding-bottom));
}
@media screen and (min-width: 768px) {
  .star-container {
    top: calc(100% - (var(--height-c) / 2) + var(--padding-bottom));
    /* top: 100%; */
  }
}
.fa-gift {
  font-size: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
}
.card--white {
  background: white;
}
.card--transparrent {
  background: transparent;
}
.fa-star {
  color: gold;
}
.opacity8 {
  opacity: 0.8;
}
.divider {
  border-top: 1px solid var(--color-white);
  opacity: 0.3;
}
