@import url('/styles/config.css');
/* TODO:  remove body background*/
body {
  /* background: var(--color-primary); */
}
/* Buttons */
.btn--primary {
  background: var(--color-secondary);
  color: white;
}
.btn--white {
  background: white;
  color: var(--color-text);
}
.btn--transparrent {
  background: transparent;
  border: 1px solid var(--color-light-gray);
}
/* Icon */
.icon--primary {
  background: var(--color-secondary);
  .icon {
    color: white;
  }
}
.icon--white {
  background: white;
  .icon {
    color: var(--color-secondary);
  }
}
.list li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.list .list__item {
  font-size: 1.6rem;
  text-transform: capitalize;
}
/* Header */
.header {
  background: var(--color-primary);
  height: 100svh;
}

/* Navbar Top */
.navbar {
  padding-top: 1rem;
}
.navbar .wrapper {
  padding: 2rem 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-logo-container {
  flex-grow: 0.05;
  /* border: 1px solid red ; */
}
.navbar .list {
  display: flex;
  flex-grow: 5;
  justify-content: space-around;
  .list__item a {
    color: var(--color-accent);
    opacity: 0.7;
    font-weight: 600;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}
.navbar .top-nav {
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: right;
}
.navbar .active {
  transform: scale(1);
  transform-origin: right;
}

.navbar .toggler-container {
  flex-grow: 0.1;
  cursor: pointer;

  .toggler {
    width: 100%;
    opacity: 0.1;
    transition: all 0.3s;
    transform: scale(0.9);
  }
  .toggler.toggler-active {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--color-accent));
    transform: scale(1);
  }
}
/* :where(.navbar .toggler-container, .header-logo-container) {
  display: flex;
  align-items: center;
} */
.menu-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header-logo-container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .header .navbar .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* flex-wrap: wrap; */
    .header-logo-container {
      width: 70%;
    }
    .list.top-nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      /* max-height: 0; */
      transform: scaleY(0);
      transform-origin: top;
    }

    .list.top-nav.topnav-max-heith {
      transform: scaleY(1);
      transform-origin: top;
      /* max-height: 100%; */
    }

    .toggler.toggler-active {
      transition-delay: 0.3s;
    }
  }
  .toggler-container {
    position: absolute;
    top: 3rem;
    right: 0.75rem;
  }
}
