@import url('/styles/config.css');

/* TODO:  remove body background*/
body {
  /* background: var(--color-primary); */
}
/* Buttons */
.btn--primary {
  background: var(--color-secondary);
  color: white;
}
.btn--white {
  background: white;
  color: var(--color-text);
}
.btn--transparrent {
  background: transparent;
  border: 1px solid var(--color-light-gray);
}
/* Icon */
.icon--primary {
  background: var(--color-secondary);
  .icon {
    color: white;
  }
}
.icon--white {
  background: white;
  .icon {
    color: var(--color-secondary);
  }
}
.list li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list .list__item {
  font-size: 1.6rem;
  text-transform: capitalize;
}
/* Header */
.header {
  background: var(--color-primary);
}

/* Navbar Top */
.navbar {
  padding-top: 1rem;
}
.navbar .wrapper {
  padding: 2rem 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-logo-container {
  flex-grow: 0.05;
  /* border: 1px solid red ; */
}
.navbar .list {
  display: flex;
  flex-grow: 5;
  justify-content: space-around;
  .list__item a {
    color: var(--color-accent);
    opacity: 0.7;
    font-weight: 600;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}
.navbar .top-nav {
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: right;
}
.navbar .active {
  transform: scale(1);
  transform-origin: right;
}

.navbar .toggler-container {
  flex-grow: 0.1;
  cursor: pointer;

  .toggler {
    width: 100%;
    opacity: 0.1;
    transition: all 0.3s;
    transform: scale(0.9);
  }
  .toggler.toggler-active {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--color-accent));
    transform: scale(1);
  }
}
/* :where(.navbar .toggler-container, .header-logo-container) {
  display: flex;
  align-items: center;
} */
.menu-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header-logo-container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .header .navbar .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* flex-wrap: wrap; */
    .header-logo-container {
      width: 70%;
    }
    .list.top-nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      /* max-height: 0; */
      transform: scaleY(0);
      transform-origin: top;
    }

    .list.top-nav.topnav-max-heith {
      transform: scaleY(1);
      transform-origin: top;
      /* max-height: 100%; */
    }
  }
  .toggler-container {
    position: absolute;
    top: 3rem;
    right: 0.75rem;
  }
}
.toggler-container {
  transform: scale(1);
  display: block;
  max-height: 100%;
  overflow: auto;
}
/*Hero  */
.hero {
  transition: all 0.3s;
  padding-bottom: 6rem;
}
.hero.up {
  margin-top: -150px;
  transition-delay: 0.3s;
}
@media screen and (min-width: 768px) {
  .hero.up {
    margin-top: 0;
  }
}
.hero-btn-container {
  margin-top: 2rem;
}
.hero-logo-container {
  display: flex;
  justify-content: center;
  align-items: end;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 5rem;
  }
  .gridAuto1fr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 5rem;
    > :first-child {
      order: 2;
    }
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.hero-heading::before {
  content: 'Mojtaba ghanidel';
  font-size: 1.6rem;
  color: var(--color-secondary);
  display: block;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
/* Services */
.service {
  background: var(--color-white);
  padding-top: 4rem;
}
.service-heading {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.service-heading::before {
  content: 'service';
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  color: var(--color-secondary);
  font-weight: 300;
  padding-bottom: 2rem;
}
.service-grids {
  border: 1px solid #f3d1bf;
  padding: 5rem 2rem;
}
.service-grid-header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 2rem;
  h3 {
    margin-left: 2rem;
  }
}
.service-grid-footer {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .service-footer-link {
    font-weight: 600;
    color: #391400;
    margin-left: 2rem;
    &::first-letter {
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 768px) {
  .service-grid {
    display: flex;
    flex-direction: column;
  }
  .service2grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.service-after {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.service-after-text::first-letter {
  text-transform: uppercase;
}
.service-after-link {
  color: #391400;
  text-transform: capitalize;
  font-weight: 606;
  padding-left: 1rem;
}
/* Portfolop */
.portfolio {
  background: var(--color-primary);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.portfolio-heading::before {
  content: 'portfolio';
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  color: var(--color-secondary);
  font-weight: 300;
  padding-bottom: 2rem;
}
.portfolio-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  .btn {
    color: white;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 4rem;
  }
}
.portfilos {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media screen and (min-width: 768px) {
  .portfilos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
.portfilo {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1rem 2rem;
}
.portfilo-1 {
  background: url('/img/Bitmap.svg') no-repeat center center/cover;
}
.portfilo-2 {
  background: url('/img/Bitmap1.svg') no-repeat center center/cover;
}
.portfilo-3 {
  background: url('/img/Bitmap2.svg') no-repeat center center/cover;
}
.portfilo-tag {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
}
/* Blog */
.blog {
  background: #fdf0e9;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.blog-content {
  display: flex;
  flex-direction: column;
}
.blog-heading {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.blog-heading::before {
  content: 'Mojtaba ghanidel';
  font-size: 1.6rem;
  color: var(--color-secondary);
  display: block;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.blog-sub-heading {
  padding-bottom: 2rem;
  font-size: 2rem;
  font-weight: 400;
}
.blog-btn-container {
  padding-top: 3rem;
}
@media screen and (min-width: 768px) {
  .blog-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    place-content: center;
    place-items: center;
  }
  .blog-text {
    margin-right: 20rem;
  }
}
.blog-bottom {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.blog-bottom-grids {
  border: 1px solid #f3d1bf;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 1rem 4rem;
  border-radius: 2px;
  margin-top: 1px;
}
.blog-grid-content-container {
  display: flex;
  flex-direction: column;
}
.blog-grid-heading {
  font-size: 4rem;
  font-weight: 700;
}
.blog-grid-text {
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .blog-bottom {
    flex-direction: row;
    width: 100%;
    justify-content: start;
  }
  .blog-bottom-grids {
    width: 100%;
    align-items: center;
    justify-content: start;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .blog-grid-content-container {
    padding-left: 5rem;
  }
}
/* Feature */
.feature {
  padding-top: var(--padding-bottom);

  padding-bottom: 2rem;
}
.feature-content {
  position: relative;
}
.feature-heading::before {
  content: 'Features';
  font-size: 1.6rem;
  color: var(--color-secondary);
  display: block;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 4px;
}
.feature-heading {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.feature-text {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.feature-list-container .list .list__item {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.feature-list-container .list {
  margin-top: 5rem;
  margin-bottom: 15rem;
}
@media screen and (min-width: 768px) {
  .feature-grid {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
}
/* Get Started */
.get-started {
  background: #f9e5da;
  padding-top: 5rem;
  .wrapper {
  }
}
.get-started-content {
  display: flex;
  flex-direction: column;
}
.get-started-heading-container {
  .btn {
    margin-top: 2rem;
  }
}
.get-started-heading {
  padding-top: 2rem;
}
.get-started-heading::before {
  content: 'get started';
  font-size: 1.6rem;
  color: var(--color-secondary);
  display: block;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 4px;
}
.get-started-text-container {
  padding-top: 5rem;
}
.get-started-content-text {
  letter-spacing: 1.5px;
}
.get-started-img-container {
  display: flex;

  justify-content: center;
  align-items: center;
  img {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .get-started-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    place-items: center;
  }
  .get-started-heading-container {
  }
  .get-started-text-container {
    padding: 0;
  }
  .get-started-img-container {
    img {
      width: 100%;
    }
  }
}
/* Testimonials */
.testimonials {
  background: var(--color-white);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.testimonial-heading-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.Testimonials-heading::before {
  content: 'Testimonials';
  font-size: 1.6rem;
  color: var(--color-secondary);
  display: block;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 4px;
}
.testimonial {
  border: 1px solid #f3d1bf;
  flex-wrap: 1;
}
.testimonial-author {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}
@media screen and (min-width: 768px) {
  .testimonial-container {
    display: flex;
  }
  .testimonial {
    border: 1px solid #f3d1bf;
    flex-wrap: 1;
  }
}
.btn--contaier .btn {
  margin: 5rem;
}
/* Footer */
.footer-top,
.footer-bottom {
  background: var(--color-primary);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.footer-logo {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
  }
}
.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer-menu-heading {
  font-weight: 300;

  letter-spacing: 4px;
  padding-bottom: 2rem;
}
.social-icons {
  display: flex;
  justify-content: center;
  > .icon--container {
    margin-left: 1rem;
    margin-right: 1rem;
    .icon {
      font-size: 3rem;
    }
  }
}
.footer-menu-link {
  transition: all 0.3s;
  padding-bottom: 1rem;
}
.footer-menu-link:hover {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .footer-top .wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
  }
  .footer-logo {
    align-self: start;
    padding: 0;
  }
  .footer-menu {
    padding: 0;
    .list li {
      justify-content: start;
    }
  }
}

/* Footer Bottom */
.copyright {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  max-width: 40svw;
  margin: auto;
}
.footer-bottom-links {
  display: flex;
  justify-content: space-between;
  max-width: 70svw;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .footer-bottom-content {
    display: flex;
  }
  .footer-bottom-link-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
